<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
          <button class="outline-none mobile-menu-button">
            <svg class="w-6 h-6 text-gray-500" x-show="!showMenu" fill="none" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
        <div>
          <a href="#" class="flex items-center py-4 px-2">
            <span class="font-semibold text-gray-500 text-lg">CodeSpace</span>
          </a>
        </div>
        <!-- Navbar - Main hidden at medium width-->
        <div class="hidden md:flex items-center space-x-1">
          <a href="/" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold">Home</a>
          <a href="/dashboard"
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Dashboard</a>
        </div>
        <div class="hidden md:flex items-center space-x-3 ">
          {{#if session.loggedIn}}
            <a class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Logged in as:
              {{session.username}}</a>
            <a class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300" href="/"
              id="logout">Logout</a>
          {{else}}
            <a class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
              href="/login">Login</a>
            <a class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
              href="/login">Signup</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>


{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CodeShare</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

      {{#if session.loggedIn}}
        <li class="nav-item">
          <a class="nav-link disabled">Logged in as: {{session.username}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/" id="logout">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Signup</a>
        </li>
      {{/if}}

    </ul>
  </div>
</nav> --}}
