{{!-- {{Main page layout for all sectors of site }} --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Favicon links-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#3a3a3a">
  <title>CodeShare</title>
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/css/styletw.css">
</head>

<body class="scroll-smooth sm:mx-0 md:mx-20 lg:mx-30">
  {{> nav}}
  <div class="mt-24">
    <main class="container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
    <div class="backgroundBodyGrid"></div>

  </div>

  <!-- Render script for logged in users only -->
  {{#if session.loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{!-- jQuery --}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  {{!-- Anime.js --}}
  <script src="/js/anime.min.js"></script>

  {{!-- Custom animations --}}
  <script src="/js/animations.js"></script>
</body>

</html>
