{{!-- {{Main page layout for all sectors of site }} --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Share</title>
  <!-- CSS only -->
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/css/styletw.css">
</head>

<body class="scroll-smooth">
  {{> nav}}
  <div class="mt-24 flex-col justify-around">
    <main class="container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
    <div class="backgroundBodyGrid"></div>

  </div>

  <!-- Render script for logged in users only -->
  {{#if session.loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{!-- jQuery --}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  {{!-- Anime.js --}}
  <script src="/js/anime.min.js"></script>

  {{!-- Custom animations --}}
  <script src="/js/animations.js"></script>
</body>

</html>
