<div class="m-20">
  <h1
    class="xl:text-4xl text-3xl text-center text-gray-800 font-bold pb-6 sm:w-4/6 w-5/6 mx-auto"
  >About the Development Team</h1>
</div>

<div class="m-10">
  <div
    class="grid grid-cols-1 xl:grid-cols-3 flex-wrap justify-center"
  >
    <div class="popIn mx-1 mt-5 mb-20 relative">
      <div class="rounded overflow-hidden shadow-md bg-white">
        <div class="absolute -mt-20 w-full flex justify-center">
          <div class="h-32 w-32">
            <img
              src="/assets/profiles/Gordon.png"
              alt="Profile image of Gordon Magill"
              class="rounded-full object-cover h-full w-full shadow-md"
            />
          </div>
        </div>
        <div class="px-6 mt-16">
          <h1 class="font-bold text-3xl text-center mb-1">Gordon Magill</h1>
          <p class="text-left text-gray-600 text-base p-10 font-normal">Gordon
            Magill is a process engineer / process analytical technology expert
            with a background in chemical engineering. While not shooting lasers
            at cells to see what they contain (long story), he enjoys a quiet
            life with his girlfriend Angela and cats Luna and Sammie. With a
            coding bootcamp in progress, he’s looking forward to getting into
            the world of full stack development!</p>
        </div>
      </div>
    </div>
    <div class="popIn mx-1 mt-5 mb-20 relative">
      <div class="rounded overflow-hidden shadow-md bg-white">
        <div class="absolute -mt-20 w-full flex justify-center">
          <div class="h-32 w-32">
            <img
              src="/assets/profiles/Christopher.png"
              alt="Profile image of Christopher Armstrong"
              class="rounded-full object-cover h-full w-full shadow-md"
            />
          </div>
        </div>
        <div class="px-6 mt-16">
          <h1 class="font-bold text-3xl text-center mb-1">Christopher Armstrong</h1>
          <p class="text-left text-gray text-base p-10 font-normal">Christopher
            Armstrong is not a supervillain, yet. He has explored many fields;
            from Intelligence Analysis in the Army, to the dairy-rich field of a
            Cheesemonger, the hustle and bustle of street fair production in New
            York City, arduous competitions in Strongman, and residential HVAC
            installation. Now, he is looking to make a hobby of coding into a
            career in web development.
          </p>
        </div>
      </div>
    </div>
    <div class="popIn mx-1 mt-5 mb-20 relative">
      <div class="rounded overflow-hidden shadow-md bg-white">
        <div class="absolute -mt-20 w-full flex justify-center">
          <div class="h-32 w-32">
            <img
              src="/assets/profiles/Arielle.png"
              alt="Profile image of Arielle Schlickman-Elak"
              class="rounded-full object-cover h-full w-full shadow-md"
            />
          </div>
        </div>
        <div class="px-6 mt-16">
          <h1 class="font-bold text-3xl text-center mb-1">Arielle
            Schlickman-Elak</h1>
          <p class="text-left text-gray text-base p-10 font-normal">Arielle can
            attribute the onset of her fascination with technology to seeing Toy
            Story for the first time in 1995. From that point on, she jumped at
            any chance to study CG animation throughout her school days. When
            not at her desk combing through IT support tickets, Arielle can be
            found either gaming or watching anime with her husband Daniel, her
            corgi Kana, and cat Kenshin. She is also beginning her fullstack
            coding journey with UC Berkeley.</p>
        </div>
      </div>
    </div>
  </div>
</div>
