<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Submit a New Code Share:</h3>

    <form class="form new-submission-form">
      <div class="form-group">
        <label for="submission-name">submission name:</label>
        <input class="form-input" type="text" id="submission-name" name="submission-name" />
      </div>
      <div class="form-group">
        <label for="submission-content">content:</label>
        <textarea class="form-input" id="submission-content" name="submission-content"></textarea>
      </div>
      <div class="form-group">
        <label for="submission-desc">description:</label>
        <textarea class="form-input" id="submission-desc" name="submission-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if submissions.length}}
  <div class="col-md-6 submission-list">
    <h3>Your Code Shares:</h3>

    {{#each submissions as |submission|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/submission/{{submission.id}}">{{submission.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{submission.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
