

{{!-- {{Login Screen: Unauthenticated user}} --}}
<form class="login-form">
      <div>
        <label for="email-login" class="block text-sm font-medium">Email</label>
        <div class="mt-1">
          <input id="email-login" type="text" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-gray-light">
      </div>
      <div class="mt-6">
        <label for="password-login" class="block text-sm font-medium text-slate-700">Password</label>
        <div class="mt-1">
          <input type="password" id="password-login"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-gray-light">
        </div>
      </div>
      <div class="mt-6 text-right">
        <button class="bg-gray px-5 py-2.5 text-md leading-5 rounded-md font-semibold text-white" type="submit">Log In</button>
      </div>
    </form>

    <form class="signup-form">
      <div>
        <label for="name-signup" class="block text-sm font-medium">Name</label>
        <div class="mt-1">
          <input id="name-signup" type="text" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-gray-light">
      </div>
      <div class="mt-6">
        <label for="email-signup" class="block text-sm font-medium text-slate-700">Email</label>
        <div class="mt-1">
          <input type="email" id="email-signup"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-gray-light">
        </div>
      </div>
      <div class="mt-6">
        <label for="password-signup" class="block text-sm font-medium text-slate-700">Password</label>
        <div class="mt-1">
          <input type="password" id="password-signup"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-gray-light">
        </div>
      </div>
      <div class="mt-6 text-right">
        <button class="bg-gray px-5 py-2.5 text-md leading-5 rounded-md font-semibold text-white" type="submit">Sign Up</button>
      </div>
    </form>

<script src="./js/login.js"></script>
