@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundBodyGrid {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: -5%;
  left: -5%;
  width: 120%;
  z-index: -1;
}

.backgroundEl {
  width: 5vw;
  height: 5vw;
  /* border: 1px solid rgba(0, 0, 0, 0.069); */
}

.animatedPopIn {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}
