
@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundBodyGrid {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: -5%;
    left: -5%;
    width: 120%;
    z-index:-1;

}

.backgroundEl {
    width: 5vw;
    height: 5vw;
    /* border: 1px solid rgba(0, 0, 0, 0.069); */
}
